<hr width="90%" size="3" color="grey" align="center">
<blockquote>
<a name="services"></a>
<pre>
       Function: SERVICES
      Arguments: (&KEY SERVICES NAME ARGS DOCS LIST HTML)
  Documentation: "Outputs details of all Information Broker functions (services) and their usage.

   KEYWORDS:
      services : optional list of only the services of interest; 
                 nil (default) = show all
                 Can list specific service function names, including service-types drawn from
                 the following list:
                    services           (administrative services) 
                    simulator-controls (hats simulator control)
                    player-actions     (user actions taken in the hats environment)
                    ib-request-manager (information broker request manager services)
                    ib-requests        (ALL valid information broker requests)
                    ib-requests-free   (all FREE information broker requests)
                    ib-requests-paid   (all PAID information broker requests)
      name     : t = include name of service in service description
      args     : t = include argument signature in service description
      docs     : t = include documentation string in service description
      list     : t = return as list of lists where each sublist contains 
                       the information requested for the service
                 nil = return text list of each service (with requested information)
      html     : t = prints the descriptions along with handy html tags; useful for
                       generating an html summary site for the services

   NOTE: all arguments are keywords, so must all be proceeded by a colon.
         E.g., to ask for only the argument signature for the functions 
         ib-beacons and ib-hat-meeting-times do:

         (ib-services :services '(ib-beacons ib-hat-meeting-times) :args t)"
</pre></blockquote>

<hr width="90%" size="3" color="grey" align="center">
<blockquote>
<a name="service-names"></a>
<pre>
       Function: SERVICE-NAMES
      Arguments: NIL
  Documentation: "Returns list of all Information Broker service functions."
</pre></blockquote>

<hr width="90%" size="3" color="grey" align="center">
<blockquote>
<a name="hats-quick-start"></a>
<pre>
       Function: HATS-QUICK-START
      Arguments: (&KEY PARAMETER-MANAGER LOAD-PARAMETER-MANAGER?
                  LOAD-POPULATION? USE-GUI? THROTTLE? NUMBER-OF-TICKS TIME-IT
                  INTERRUPT?)
  Documentation: "Combines calls to hats-initialize and hats-advance, including all
parameters to those functions.  Defaults to initialize Hats using
the viewer and advance the simulation for 1000 ticks without 
interrupting (even if beacon attack occurs).  
Useful for demonstrations."
</pre></blockquote>

<hr width="90%" size="3" color="grey" align="center">
<blockquote>
<a name="hats-initialize"></a>
<pre>
       Function: HATS-INITIALIZE
      Arguments: (&KEY PARAMETER-MANAGER LOAD-PARAMETER-MANAGER?
                  LOAD-POPULATION? USE-GUI? THROTTLE?)
  Documentation: "Initializes the Hats simulator.  By default, a new population
will be generated automatically based on the parameters in the 
default parameter manager. 

If another parameter manager instance has been made, it can be 
set as the current parameter manager using the parameter-manager 
keyword argument, and a new population will be generated from it. 

If a parameter manager or population has been previously saved to 
file, then the user may load them by setting load-parameter-manager? 
and/or load-population? to T; the user will be presented with a 
choose file dialog to select the saved parameter manager and/or 
population.  If only a parameter manager is loaded, a new population 
will be generated based on those parameters.

Setting use-gui? to T will initialize and display the Hats 
visualization window and visualization control panel.  Setting the
throttle? argument to T causes simulation to pause 0.1 seconds
between ticks to make visualization not run too fast; by default
throttle? is set to whatever use-gui is set to, so you usually
don't have to specify it by hand."
</pre></blockquote>

<hr width="90%" size="3" color="grey" align="center">
<blockquote>
<a name="hats-reset"></a>
<pre>
       Function: HATS-RESET
      Arguments: NIL
  Documentation: "Calls hats-initialize using the same settings specified in the
most recent call to hats-initialize."
</pre></blockquote>

<hr width="90%" size="3" color="grey" align="center">
<blockquote>
<a name="hats-advance"></a>
<pre>
       Function: HATS-ADVANCE
      Arguments: (&KEY NUMBER-OF-TICKS TIME-IT INTERRUPT?)
  Documentation: "Advance the simulation by NUMBER-OF-TICKS (default 1 tick).  If interrupt? is T (by default) advance will interrupt when a significant event (e.g., a beacon attack) occurs.  If default information broker requests exist, they will be executed at each tick and returned in a list as the first of the return values."
</pre></blockquote>

<hr width="90%" size="3" color="grey" align="center">
<blockquote>
<a name="hats-end"></a>
<pre>
       Function: HATS-END
      Arguments: NIL
  Documentation: "Terminates Hats simulation run and outputs data to file."
</pre></blockquote>

<hr width="90%" size="3" color="grey" align="center">
<blockquote>
<a name="action-arrest-hat"></a>
<pre>
       Function: ACTION-ARREST-HAT
      Arguments: (&KEY HAT-ID X-LOCATION Y-LOCATION)
  Documentation: "Arrest action arrests a hat at a given location.  
IF hat is:
     (a) currently at designated location,
     (b) a terrorist, and
     (c) currently part of a taskforce
THEN arrest is :SUCCESSFUL, else :FAILURE.
Hat is immediately released if :FAILURE, else remains on an "arrest list" 
until the taskforce the hat belongs to holds its final meeting, at which 
time the hat is removed from "arrest list".  During time on the "arrest 
list", the hat will still move around, going to its normally scheduled 
meetings (its behavior is essentially unchanged); but it cannot lend its 
capabilities to a successful attack, so arresting the right hat CAN prevent 
a beacon attack from being recorded."
</pre></blockquote>

<hr width="90%" size="3" color="grey" align="center">
<blockquote>
<a name="action-alert-beacon"></a>
<pre>
       Function: ACTION-ALERT-BEACON
      Arguments: (&KEY BEACON-ID ALERT-LEVEL)
  Documentation: "Alert Beacon action sets the beacon alert-level for specified BEACON-ID.  The following are acceptable alert levels, their interpretation, affects of alert on score when attack occurs, and cost:
   :OFF - "no alert" - full impact on score - free
   :LEVEL-ONE - "lowest alert level; attack likely" - 1/2 impact on score
   :LEVEL-TWO - "highest alert level; attack imminent" - no impact on score"
</pre></blockquote>

<hr width="90%" size="3" color="grey" align="center">
<blockquote>
<a name="ib-add-default-requests"></a>
<pre>
       Function: IB-ADD-DEFAULT-REQUESTS
      Arguments: (REQUEST-LIST)
  Documentation: "Adds list of requests ((<request-function> [<keyword> <argument>]*)*) to default requests."
</pre></blockquote>

<hr width="90%" size="3" color="grey" align="center">
<blockquote>
<a name="ib-remove-default-requests"></a>
<pre>
       Function: IB-REMOVE-DEFAULT-REQUESTS
      Arguments: (REQUEST-LIST)
  Documentation: "Removes each request in the argument list ((<request-function> <arguments>)*) from default requests."
</pre></blockquote>

<hr width="90%" size="3" color="grey" align="center">
<blockquote>
<a name="ib-clear-default-requests"></a>
<pre>
       Function: IB-CLEAR-DEFAULT-REQUESTS
      Arguments: NIL
  Documentation: "Clears all default requests."
</pre></blockquote>

<hr width="90%" size="3" color="grey" align="center">
<blockquote>
<a name="ib-list-default-requests"></a>
<pre>
       Function: IB-LIST-DEFAULT-REQUESTS
      Arguments: NIL
  Documentation: "Returns list of all default requests."
</pre></blockquote>

<hr width="90%" size="3" color="grey" align="center">
<blockquote>
<a name="ib-world-dimensions"></a>
<pre>
       Function: IB-WORLD-DIMENSIONS
      Arguments: NIL
  Documentation: "Returns list of ((:x <x-min> <x-max>) (:y <y-min> <y-max>)) hats world dimensions."
</pre></blockquote>

<hr width="90%" size="3" color="grey" align="center">
<blockquote>
<a name="ib-beacons"></a>
<pre>
       Function: IB-BEACONS
      Arguments: NIL
  Documentation: "Returns list of all beacons and their state, in the following format: (<beacon-id> <alert-status> (<x-location> <y-location>) (<list-of-vulnerabilities>)).  Perfect information."
</pre></blockquote>

<hr width="90%" size="3" color="grey" align="center">
<blockquote>
<a name="ib-all-capabilities"></a>
<pre>
       Function: IB-ALL-CAPABILITIES
      Arguments: NIL
  Documentation: "Returns list of all capabilities (beacon vulnerabilities or carried by hats).  Perfect information"
</pre></blockquote>

<hr width="90%" size="3" color="grey" align="center">
<blockquote>
<a name="ib-benign-organizations"></a>
<pre>
       Function: IB-BENIGN-ORGANIZATIONS
      Arguments: NIL
  Documentation: "Returns list of all benign organization id's."
</pre></blockquote>

<hr width="90%" size="3" color="grey" align="center">
<blockquote>
<a name="ib-terrorist-organizations"></a>
<pre>
       Function: IB-TERRORIST-ORGANIZATIONS
      Arguments: NIL
  Documentation: "Returns list of some terrorist organization id's."
</pre></blockquote>

<hr width="90%" size="3" color="grey" align="center">
<blockquote>
<a name="ib-known-terrorist-hats"></a>
<pre>
       Function: IB-KNOWN-TERRORIST-HATS
      Arguments: NIL
  Documentation: "Returns list of ALL known terrorist hat-id's."
</pre></blockquote>

<hr width="90%" size="3" color="grey" align="center">
<blockquote>
<a name="ib-members"></a>
<pre>
       Function: IB-MEMBERS
      Arguments: (&KEY ORGANIZATION)
  Documentation: "Returns list of members (hat-id's) of organization."
</pre></blockquote>

<hr width="90%" size="3" color="grey" align="center">
<blockquote>
<a name="ib-hat-advertised-class"></a>
<pre>
       Function: IB-HAT-ADVERTISED-CLASS
      Arguments: (&KEY HAT-ID)
  Documentation: "Returns the advertised class of specified hat as one of three values:
        :terrorist        a known terrorist
        :unknown          not known to be a terrorist
        :not-a-known-hat  hat-id does not refer to a known hat"
</pre></blockquote>

<hr width="90%" size="3" color="grey" align="center">
<blockquote>
<a name="ib-events-history"></a>
<pre>
       Function: IB-EVENTS-HISTORY
      Arguments: NIL
  Documentation: "Returns list of world events (e.g., beacon attack, beacon save) in chronological order."
</pre></blockquote>

<hr width="90%" size="3" color="grey" align="center">
<blockquote>
<a name="ib-clear-events-history"></a>
<pre>
       Function: IB-CLEAR-EVENTS-HISTORY
      Arguments: NIL
  Documentation: "Clears events history."
</pre></blockquote>

<hr width="90%" size="3" color="grey" align="center">
<blockquote>
<a name="ib-arrested-hats"></a>
<pre>
       Function: IB-ARRESTED-HATS
      Arguments: NIL
  Documentation: "Returns list of hat-id's for hats currently arrested."
</pre></blockquote>

<hr width="90%" size="3" color="grey" align="center">
<blockquote>
<a name="ib-location-contents"></a>
<pre>
       Function: IB-LOCATION-CONTENTS
      Arguments: (&KEY X-LOCATION Y-LOCATION PAYMENT)
  Documentation: "Returns list of hats (or nil if none) at requested x and y location.  Payment required."
</pre></blockquote>

<hr width="90%" size="3" color="grey" align="center">
<blockquote>
<a name="ib-hat-location"></a>
<pre>
       Function: IB-HAT-LOCATION
      Arguments: (&KEY HAT-ID PAYMENT)
  Documentation: "Returns the location (x y) of the requested hat.  Payment required."
</pre></blockquote>

<hr width="90%" size="3" color="grey" align="center">
<blockquote>
<a name="ib-hat-capabilities"></a>
<pre>
       Function: IB-HAT-CAPABILITIES
      Arguments: (&KEY HAT-ID PAYMENT)
  Documentation: "Returns a list of the current capability-id's of the requested hat.  Payment required."
</pre></blockquote>

<hr width="90%" size="3" color="grey" align="center">
<blockquote>
<a name="ib-hat-obituary"></a>
<pre>
       Function: IB-HAT-OBITUARY
      Arguments: (&KEY HAT-ID PAYMENT)
  Documentation: "Returns report of time of hat death (if occurred).  Payment required."
</pre></blockquote>

<hr width="90%" size="3" color="grey" align="center">
<blockquote>
<a name="ib-hat-meeting-times"></a>
<pre>
       Function: IB-HAT-MEETING-TIMES
      Arguments: (&KEY HAT-ID PAYMENT)
  Documentation: "Returns a list of ticks a hat participated in a meeting.  Payment required."
</pre></blockquote>

<hr width="90%" size="3" color="grey" align="center">
<blockquote>
<a name="ib-meeting-location"></a>
<pre>
       Function: IB-MEETING-LOCATION
      Arguments: (&KEY HAT-ID TICK PAYMENT)
  Documentation: "Returns the location (x y) of the meeting a hat had at given tick, or NIL if no meeting.  Payment required."
</pre></blockquote>

<hr width="90%" size="3" color="grey" align="center">
<blockquote>
<a name="ib-meeting-participants"></a>
<pre>
       Function: IB-MEETING-PARTICIPANTS
      Arguments: (&KEY TICK X-LOCATION Y-LOCATION PAYMENT)
  Documentation: "Returns list of meeting participants (hat-id's), or nil if no meeting took place.  Payment required."
</pre></blockquote>

<hr width="90%" size="3" color="grey" align="center">
<blockquote>
<a name="ib-meeting-trades"></a>
<pre>
       Function: IB-MEETING-TRADES
      Arguments: (&KEY TICK X-LOCATION Y-LOCATION PAYMENT)
  Documentation: "Returns list of capability trades (<source-hat-id> <recipient-hat-id> <capability-id>) 
that took place at a meeting, or nil if no meeting.  Payment required."

