<style>

A:active { color: "#2135ee"; text-decoration : none; }  
A:link { color: "#2135ee"; text-decoration : none; } 
A:visited { color: "#ff172a"; text-decoration : none; }  
A:hover { color: "#4682B4" }

</style>

<a href="commands-content.html?plain#action-alert-beacon" target="commands-content">action-alert-beacon</a><br>
<a href="commands-content.html?plain#action-arrest-hat" target="commands-content">action-arrest-hat</a><br>
<a href="commands-content.html?plain#hats-advance" target="commands-content">hats-advance</a><br>
<a href="commands-content.html?plain#hats-end" target="commands-content">hats-end</a><br>
<a href="commands-content.html?plain#hats-initialize" target="commands-content">hats-initialize</a><br>
<a href="commands-content.html?plain#hats-quick-start" target="commands-content">hats-quick-start</a><br>
<a href="commands-content.html?plain#hats-reset" target="commands-content">hats-reset</a><br>
<a href="commands-content.html?plain#ib-add-default-requests" target="commands-content">ib-add-default-requests</a><br>
<a href="commands-content.html?plain#ib-all-capabilities" target="commands-content">ib-all-capabilities</a><br>
<a href="commands-content.html?plain#ib-arrested-hats" target="commands-content">ib-arrested-hats</a><br>
<a href="commands-content.html?plain#ib-beacons" target="commands-content">ib-beacons</a><br>
<a href="commands-content.html?plain#ib-benign-organizations" target="commands-content">ib-benign-organizations</a><br>
<a href="commands-content.html?plain#ib-clear-default-requests" target="commands-content">ib-clear-default-requests</a><br>
<a href="commands-content.html?plain#ib-clear-events-history" target="commands-content">ib-clear-events-history</a><br>
<a href="commands-content.html?plain#ib-events-history" target="commands-content">ib-events-history</a><br>
<a href="commands-content.html?plain#ib-hat-advertised-class" target="commands-content">ib-hat-advertised-class</a><br>
<a href="commands-content.html?plain#ib-hat-capabilities" target="commands-content">ib-hat-capabilities</a><br>
<a href="commands-content.html?plain#ib-hat-location" target="commands-content">ib-hat-location</a><br>
<a href="commands-content.html?plain#ib-hat-meeting-times" target="commands-content">ib-hat-meeting-times</a><br>
<a href="commands-content.html?plain#ib-hat-obituary" target="commands-content">ib-hat-obituary</a><br>
<a href="commands-content.html?plain#ib-known-terrorist-hats" target="commands-content">ib-known-terrorist-hats</a><br>
<a href="commands-content.html?plain#ib-list-default-requests" target="commands-content">ib-list-default-requests</a><br>
<a href="commands-content.html?plain#ib-location-contents" target="commands-content">ib-location-contents</a><br>
<a href="commands-content.html?plain#ib-meeting-location" target="commands-content">ib-meeting-location</a><br>
<a href="commands-content.html?plain#ib-meeting-participants" target="commands-content">ib-meeting-participants</a><br>
<a href="commands-content.html?plain#ib-meeting-trades" target="commands-content">ib-meeting-trades</a><br>
<a href="commands-content.html?plain#ib-members" target="commands-content">ib-members</a><br>
<a href="commands-content.html?plain#ib-remove-default-requests" target="commands-content">ib-remove-default-requests</a><br>
<a href="commands-content.html?plain#ib-terrorist-organizations" target="commands-content">ib-terrorist-organizations</a><br>
<a href="commands-content.html?plain#ib-world-dimensions" target="commands-content">ib-world-dimensions</a><br>
<a href="commands-content.html?plain#service-names" target="commands-content">service-names</a><br>
<a href="commands-content.html?plain#services" target="commands-content">services</a><br>
